$bg-gray: #D7D7D7;
$accent: #FF5722;

@mixin ob($size) {
  height: $size;
  width: $size;
}


body {
  background-color: $bg-gray;
}
.container, .container-fluid {
  position: relative;
}
.slide {
  max-height: 100vh;
  height: 100vh;
  &.slide-1 {
    background: no-repeat center/cover url('/assets/ludzie-ziemia.png');
    .niebo {
     position: absolute;
     top: 0;
     left: 0;
     width: 50vw;
     height: 25vh;
     background: no-repeat center/cover url('/assets/niebo-crop.png'); 
     z-index: -10;
    }
    .t1 {
      margin-top: 7vh;
    }
    .t2 {
      margin-top: 20vh;
    }
    .ob {
      position: absolute;
    }
    .ob1 {
      left: 40%;
      top: 30px;
    }
    .ob2 {
      left: 80%;
    }
    .ob3 {
      top: 50vh;
      left: 60%;
    }
    .ob4 {
      top: 35vh;
      right: -10%;
    }
  }
  &.slide-2 {
    .pani {
      position: absolute;
      width: 40vw;
      height: 80vh;
      margin-top: 15vh;
      right: 8%;
      z-index: 5;
      background: no-repeat center/cover url('/assets/pani.png');
    }
    .tlo {
      position: absolute;
      left: 0;
      top: 10vh;
      height: 80vh;
      width: 66vw;
      background: no-repeat center/cover url('/assets/tlo.png');
    }
    .wyslij-email {
      position: absolute;
      left: 10vw;
      top: 70vh;
    }
    .t1 {
      margin-top: 5vh;
    }
    .t2 {
      margin-top: 10vh;
    }
    .ob-group {
      position: absolute;
      left: 70%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 10;
    }
  }
  &.zagrozenia {
    .card {
      text-transform: uppercase;
      height: 25rem;
      .card-body {
        display: flex;
        align-items: center;
        .card-title {
          font: 800 2rem/2 'Muli', sans-serif;
        }
      }
    }
    .obrazek {
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      &.z1 { background-image: url('/assets/zagrozenia_1.jpg') }
      &.z2 { background-image: url('/assets/zagrozenia_2.jpg') }
      &.z3 { background-image: url('/assets/zagrozenia_3.jpg') }
      &.z4 { background-image: url('/assets/zagrozenia_4.jpg') }
      &.z5 { background-image: url('/assets/zagrozenia_5.jpg') }
    }
  }
}

.ob {
  background-color: $accent;
  border-radius: 50%;
  &.ob-xl {
    @include ob(35vh);
  }
  &.ob-sm {
    @include ob(10vh); 
  }
  &.ob-md {
    @include ob(18vh);
  }
  &.ob-sm2 {
    @include ob(14vh);
  }
}
.title-label {
  > h1 {
    display: inline-block;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin: 0;
    padding: 0.4rem 1rem;
    background-color: #fff;
    text-transform: uppercase;
    z-index: 10;
  }
  &.md > h1 {
    font-size: 2rem;
  }
  &.sm > h1 {
    font-size: 1.5rem;
  }
  &.pull-10 {
    margin-left: -100px;
  }
}
.card {
  width: 100%;
  border-radius: 0;
  .card-body {
    padding: 1.25rem 3rem;
    .card-text {
      font: 1.3rem 'Open Sans', sans-serif;
    }
  }
}