$bg-gray: #D7D7D7;
$accent: #FF5722;

@mixin ob($size) {
  height: $size;
  width: $size;
}


body {
  background-color: $bg-gray;
}
.container, .container-fluid {
  position: relative;
}
.slide {
  max-height: 100vh;
  height: 100vh;
  &.slide-1 {
    background: no-repeat center/cover url('/assets/ludzie-ziemia.png');
    .niebo {
     position: absolute;
     top: 0;
     left: 0;
     width: 50vw;
     height: 25vh;
     background: no-repeat center/cover url('/assets/niebo-crop.png'); 
     z-index: -10;
    }
    .t1 {
      margin-top: 7vh;
    }
    .t2 {
      margin-top: 20vh;
    }
    .ob {
      position: absolute;
    }
    .ob1 {
      left: 40%;
      top: 30px;
    }
    .ob2 {
      left: 80%;
    }
    .ob3 {
      top: 50vh;
      left: 60%;
    }
    .ob4 {
      top: 35vh;
      right: -10%;
    }
  }
  &.slide-2 {
    .pani {
      position: absolute;
      width: 40vw;
      height: 80vh;
      margin-top: 15vh;
      right: 8%;
      z-index: 5;
      background: no-repeat center/contain url('/assets/pani.png');
    }
    .tlo {
      position: absolute;
      left: 0;
      top: 10vh;
      height: 80vh;
      width: 66vw;
      background: no-repeat center/cover url('/assets/tlo.png');
    }
    .wyslij-email {
      position: absolute;
      left: 10vw;
      top: 70vh;
    }
    .t1 {
      margin-top: 5vh;
    }
    .t2 {
      margin-top: 10vh;
    }
    .ob-group {
      position: absolute;
      left: 60%;
      top: 10vh;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 10;
    }
  }
  &.slide-4 {
    background: no-repeat center/cover url('/assets/ziemia.png');
    .okowizjer {
      position: absolute;
      right: 5%;
      height: 50%;
      width: 20%;
      top: 15%;
      background: no-repeat center/contain url('/assets/okowizjer.png');
    }
    .title-label {
      position: absolute;
      right: 25%;
      top: 20%;
    }
    .card {
      width: initial;
      display: inline-block;
      position: absolute;
      position:relative;
      .card-text {
        z-index: 15;
      }
      &.c1 {
        top: 40%;
        left: 30%;
      }
      &.c2 {
        top: 60%;
        left: 40%;
      }
    }
    .ob {
      position:absolute;
      top: -30%;
      left: -10%;
    }
  }
  &.slide-5 {
    background-color: #fff;
    padding-top: 7rem;
    h1 {
      font: 800 3rem 'Muli', sans-serif;
      text-transform: uppercase;
    }
  }
}
a, a:visited {
  h1, h2 {
    color: #000;
  }
}
.kropeczki {
  position: absolute;
  width: 4rem;
  height: 22rem;
  background: no-repeat center/contain url('/assets/kropki.png');
  z-index: 15;
  &.k1 {
    top: -10%;
    right: 15%;
  }
  &.k2 {
    bottom: -10%;
    left: 5%;
  }
}
.zagrozenia {
  .card {
    text-transform: uppercase;
    height: 25rem;
    .card-body {
      display: flex;
      align-items: center;
      .card-title {
        font: 800 2rem/2 'Muli', sans-serif;
      }
    }
  }
  .obrazek {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    &.z1 { background-image: url('/assets/zagrozenia_1.jpg') }
    &.z2 { background-image: url('/assets/zagrozenia_2.jpg') }
    &.z3 { background-image: url('/assets/zagrozenia_3.jpg') }
    &.z4 { background-image: url('/assets/zagrozenia_4.jpg') }
    &.z5 { background-image: url('/assets/zagrozenia_5.jpg') }
  }
}
footer {
  background-color: #5E5E5E;
  color: #F4F3F0;
  padding: 10rem;
}
.ob {
  background-color: $accent;
  border-radius: 50%;
  &.ob-xl {
    @include ob(35vh);
  }
  &.ob-sm {
    @include ob(10vh); 
  }
  &.ob-md {
    @include ob(18vh);
  }
  &.ob-sm2 {
    @include ob(14vh);
  }
}
.title-label {
  > h1 {
    display: inline-block;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    margin: 0;
    padding: 0.4rem 1rem;
    background-color: #fff;
    text-transform: uppercase;
    z-index: 10;
  }
  &.md > h1 {
    font-size: 2.3rem;
  }
  &.sm > h1 {
    font-size: 1.7rem;
  }
  &.pull-10 {
    margin-left: -100px;
  }
}
.card {
  width: 100%;
  border-radius: 0;
  .card-body {
    padding: 1.25rem 3rem;
    .card-text {
      font: 1.3rem 'Open Sans', sans-serif;
    }
  }
}